form {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 1rem;
  align-items: baseline;
}

.mandatory-fields {
  display: grid;
  grid-template-columns: 2fr 0.5fr 0.75fr auto;
  gap: 1rem;
  align-items: center;
}

.daily-schedule {
  display: grid;
  grid-template-columns: repeat(4, 95px);
  gap: 0.5rem;
  align-items: center;
}

textarea {
  resize: none;
}
