form {
  display: grid;
  grid-template-columns: 2fr 1fr auto;
  gap: 1rem;
  align-items: baseline;
}

.mandatory-fields {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  gap: 1rem;
  align-items: center;
}

textarea {
  resize: none;
}
